  <header class="header__event">
		 <div class="row">
			<div class="logo"><a href="/"><%= image_tag image_path('logo.svg'), :class => "logo__img column-center" %></a></div>
			<ul class="menu">
				<a href="/"><li>Accueil</li></a>
				<a href="cities"><li>Villes</li></a>
				<a href="contact"><li>Contact</li></a>
				<a href="about"><li class="active">About</li></a>
			</ul>
		</div>
	</header>
  <section id="about">
    <h1>Trad'Food</h1>
    <h2>Qui sommes-nous ?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum exercitationem cumque rem animi aliquid soluta porro iusto sequi nostrum accusamus illum necessitatibus tempore repudiandae, consectetur ipsa reiciendis eum consequatur. Deleniti.</p>
    <h2>Pourquoi Trad'Food</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt unde officia dolorum modi quaerat debitis. Iste inventore id amet corporis veritatis sequi repellat molestias blanditiis consequuntur. Amet, sit, ea!</p>
    <h2>L'équipe</h2>
    <ul>
      <a href="#"><li>Prénom Nom</li></a>
      <a href="#"><li>Prénom Nom</li></a>
      <a href="#"><li>Prénom Nom</li></a>
      <a href="#"><li>Prénom Nom</li></a>
      <a href="#"><li>Prénom Nom</li></a>
      <a href="#"><li>Prénom Nom</li></a>
    </ul>
  </section>
